.box_xtnfa *{
	-webkit-box-sizing: border-box;
	max-width: 100%;
	float:none !important;
	height: auto !important;
}
.box_xtnfa {
	color: #000;
	display: block;
	font-family:"Arial", Verdana, Sans-serif;
	letter-spacing: normal;
	line-height: normal;
	word-spacing: normal;
	text-align: justify;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	margin-bottom: 5px;
}
.box_xtnfa .header {
	padding: 4px 12px 5px 12px;
	font-weight: bold;
	font-size: 20px;
	width:100%;
	height:32px;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	background:url("http://muatocroi.com/addition/googlechromeEx/removeads/common/header.jpg") repeat 0 0;
}
.box_xtnfa .contentfa {
	padding:10px;
	width:100%;
	background-color:#fff;
}

.box_xtnfa .contentfa ul{
	margin: 0;
	padding: 0;
	position: static;
}
.box_xtnfa .contentfa li.list a{
	text-decoration:none;
	color: #7a7a7a;
}
.box_xtnfa .contentfa li.list{
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	position: static;
	background-color:#F7F7F7;
	border:1px solid #E9E9E9;
	margin-top:5px;
	padding:5px;
	font-size: 12px;
	line-height: 1.5;
}

.hiddenadsElement
{
	display: none;
}